<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style></style>
    <title>Airshare Admin</title>
</head>
<body>
    #include("navbar_Admin.vm")

<main>
    <h1>Admin</h1>
</main>

<script></script>
</body>
</html>