<style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
    html, body {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        font-family: "Montserrat", sans-serif;
        overflow-x: hidden;
    }
    html main, body main {
        display: block;
        margin: 0px 50px 0px 50px;
    }
    html nav, body nav {
        margin: 0px;
        padding: 0px;
        background-color: #252525;
    }
    html nav .navbar_container, body nav .navbar_container {
        margin: 0px 50px 0px 50px;
        display: flex;
    }
    html nav .navbar_container .nav_icone, body nav .navbar_container .nav_icone {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        padding-right: 40px;
    }
    html nav .navbar_container .nav_icone a, body nav .navbar_container .nav_icone a {
        margin: 10px 0px;
        color: white;
        cursor: pointer;
        text-decoration: none;
    }
    html nav .navbar_container .navbar, body nav .navbar_container .navbar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: whitesmoke;
    }
    html nav .navbar_container .navbar a, body nav .navbar_container .navbar a {
        cursor: pointer;
        transform: scale(1);
        transition: all 0.2s ease;
    }
    html nav .navbar_container .navbar a:hover, body nav .navbar_container .navbar a:hover {
        transform: scale(1.3);
        color: white;
    }
    html nav .navbar_container .navbar .nav_menu_left, body nav .navbar_container .navbar .nav_menu_left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    html nav .navbar_container .navbar .nav_menu_left a, body nav .navbar_container .navbar .nav_menu_left a {
        padding: 5px 0px;
        text-decoration: none;
        color: whitesmoke;
    }
    html nav .navbar_container .navbar .nav_menu_right, body nav .navbar_container .navbar .nav_menu_right {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    html nav .navbar_container .navbar .nav_menu_right a, body nav .navbar_container .navbar .nav_menu_right a {
        padding: 5px 0px;
    }
    html #my_account, body #my_account {
        background-color: white;
        color: #252525;
        position: absolute;
        top: 49px;
        right: 0px;
        transform: translateX(270px);
        transition: transform 0.5s ease;
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 20px 50px 20px 20px;
    }
    html #my_account.active, body #my_account.active {
        transform: translateX(0px);
    }
    html #my_account a, body #my_account a {
        padding-top: 20px;
        padding-left: 20px;
        transform: scale(1);
        transition: all 0.2s ease;
        cursor: pointer;
        text-decoration: none;
        color: #252525;
    }
    html #my_account a:hover, body #my_account a:hover {
        transform: scale(1.3);
    }
    @media only screen and (max-width: 650px) {
        html .navbar_container, body .navbar_container {
            flex-direction: column;
        }
        html .navbar_container .nav_icone, body .navbar_container .nav_icone {
            padding-right: 0px !important;
        }
        html .navbar_container .nav_icone p, body .navbar_container .nav_icone p {
            margin: 5px !important;
        }
        html #my_account, body #my_account {
            top: 80px;
        }
    }
</style>


<nav>
    <div class="navbar_container">
        <div class="nav_icone">
            <a href="/user/home">AirShare</a>
        </div>
        <div class="navbar">

            <div class="nav_menu_left">
                <a href="/showFlights">Display the Flights</a>
            </div>

            <div class="nav_menu_right">
                <a id="btn-my_account">My account</a>
            </div>

        </div>
    </div>
</nav>

<div id="my_account">
    <a href="/user/upgrade">Upgrade to Pilot !</a>
    <a href="/logOut">Logout</a>
</div>

<script>
    //Account buttons
    document.getElementById("btn-my_account").addEventListener("click", (e) => {
        document.getElementById("my_account").classList.toggle("active");
    })
</script>